In [1]:
"hello world"

'hello world'

In [2]:
"hello

SyntaxError: unterminated string literal (detected at line 1) (3110265295.py, line 1)

In [3]:
type('100')

str

In [1]:
10+10

20

In [3]:
10+10
10+4

14

In [4]:
'hello' + 'world'

'helloworld'

In [6]:
'hello'*5

'hellohellohellohellohello'

In [7]:
'hello' + 5

TypeError: can only concatenate str (not "int") to str

In [8]:
hello + 5

NameError: name 'hello' is not defined

In [9]:
hello = 5
hello + 5

10

In [10]:
'hello' * 'hi'

TypeError: can't multiply sequence by non-int of type 'str'